<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <RollingFile fileName="chrome-forensics-exec.log"
                     filePattern="phasher-exec-%d{yyyy-MM-dd}-%i.log" name="RollingFile">
            <PatternLayout>
                <pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger additivity="false" level="debug" name="root">
            <appender-ref level="debug" ref="RollingFile"/>
        </Logger>
        <Root additivity="false" level="debug">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
